<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>{{ nombre }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-progress-bar *ngIf='loading' type="indeterminate"></ion-progress-bar>

  <!-- <ion-list> -->
  <ion-card *ngFor='let sal of salones'>
    <ion-card-header>
      <!-- <ion-card-subtitle>
        
      </ion-card-subtitle> -->
      <ion-card-title>
        {{ sal.nombre }}
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-row>
        <ion-col><ion-button size='small'><ion-icon name="link"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button size='small'><ion-icon name="calendar"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button size='small' (click)='presentModal(sal.nombre, sal.id)'><ion-icon name="qr-code"></ion-icon></ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-badge color="primary">Periodo 2</ion-badge>&nbsp;&nbsp;
        <ion-badge color="primary">Actividades 5</ion-badge>&nbsp;&nbsp;
        <ion-badge color="primary">Alumnos 47</ion-badge>&nbsp;&nbsp;
      </ion-row> -->
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createClass()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>